apiVersion: v1
kind: Namespace
metadata:
  name: rook
---
apiVersion: rook.io/v1alpha1
kind: Cluster
metadata:
  name: rook
  namespace: rook
spec:
  versionTag: master
  dataDirHostPath: "{{ kubernetes.rook.hostConfigPath }}"
  storage:
    useAllNodes: false
    useAllDevices: false
    deviceFilter:
    metadataDevice:
    location:
    storeConfig:
      storeType: bluestore
    nodes:
{% for item in groups['kubernetes-nodes'] %}
    - name: "wnoc-kube-{{ loop.index }}"
	  deviceFilter: ^sd[b-z]
{% endfor %}
